span.ssQueryAndButton {
    margin: 2em auto 0.25em auto !important;
    max-width: 50% !important;
    width: 50% !important;
}

input#ssQuery {
    font-size: .9rem !important;
    border-radius: .25rem;
    padding: .3rem 1.75rem .3rem .75rem !important;
    border: 1px solid rgba(38, 35, 37, 0.075) !important;
    background-color: #fff !important;
    color: rgba(0,0,0,.9) !important;
}

input#ssQuery:hover {
    border: 1px solid #b59890 !important;
}

button#ssDoSearch {
    border: 0 !important;
    padding: 0 !important;
    background: 0 0 !important;
    cursor: pointer !important;
    color: rgba(38, 35, 37, 0.6) !important;
    margin-left: -4.1em !important;
    margin-right: -.25em;
    margin-top: .1em !important;
    z-index:99;
}

form button svg {
    color: #b59890;
}

form button svg:hover {
    color: #615a60;
}

.filters input {
    width:100%;
    padding: 3px;
    box-sizing: border-box;
}

#ssDoSearch2, #ssClear, #ssShowMore, #ssShowAll {
    border: 1px solid #615a60;
    border-radius: .25rem;
    margin-bottom: 2em;
    padding: .1em .8em;
    background-color: transparent;
    color: #000;
}

#ssDoSearch2:hover, #ssClear:hover, #ssShowMore:hover, #ssShowAll:hover {
    background-color: #b59890;
    color: #fff;
    border: 1px solid #fff;
}

fieldset.ssFieldset > span {
    background-color: #b59890;
    border: 1px solid #615a60;
    border-radius: .25rem;
}

fieldset.ssFieldset > span > input {
    border: 1px solid #615a60;
    border-radius: .25rem;
    margin-left: .3em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#ac-panel::-webkit-scrollbar {
    display: none !important;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
#ac-panel {
    display:block;
    position:absolute;
    min-height:50px;
    max-height:200px;
    overflow:scroll;
    margin: 4.5em 24%;
    max-width: 50%;
    width: 50% ;
    font-size: .9rem;
    border-radius: 0 0 .25rem .25rem ;
    padding: 0.3rem;    
    color: rgba(0,0,0,.9);
    -ms-overflow-style: none;  /* IE and Edge */
}

#ac-select-all:hover, #searchInfoModalButton svg:hover {
    color: #b59890;
    cursor: pointer;
}

.ac-border {
    background-color: rgba(38, 35, 37, 0.075);
    border: 1px solid rgba(38, 35, 37, 0.075) !important;
    border-top: 3px solid rgba(38, 35, 37, 0.075) !important;
}

.ac-border2 {
    border: 1px solid rgba(38, 35, 37, 0.075) !important;
    border-bottom: 3px solid rgba(38, 35, 37, 0.075) !important;
    border-radius: .25rem .25rem 0 0 !important;
}

.stem {
    padding: .3em;
    cursor: pointer;
}

.stem:hover {
    background-color: rgba(38, 35, 37, 0.3);
    border-radius: .25rem;
}